extends layout.jade



block title

  title JWISky



block preloader

  div.m-app-loading(ng-animate-children)
    div.animated-container
      div.messaging
        h1
          | Loading... please wait


block content

  div(layout,layout-fill,layout-align="center center")
    img(src="images/JWISky - Logo - 2.png",class="logo")
